<!DOCTYPE html>
<html lang="ko">
{% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'notice/main.css'%}">
        <title>Document</title>
    </head>

    <body>
        <table class="notice_test">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Origin</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Attach</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ notice.post_origin }}</td>
                    <td><a href="{{ notice.post_url }}">{{ notice.post_title }}</a></td>
                    <td>{{ notice.post_author }}</td>
                    <td>{{ notice.post_date }}</td>
                    {% if notice.attachment_url != "" %}
                        <td>O</td>
                    {% else %}
                        <td>X</td>
                    {% endif %}
                    <td>{% for tag in notice.tags.all %} {{ tag.name }} {% endfor %}</td>
                </tr>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>

</html>