<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/notice/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <title>KNU_INTEGRATED_NOTICE</title>
</head>

<body>
    <div class="container-fluid p-0 wrapper">
        <header>
            <div class="banner_box">
                <div class="row main_banner">
                    <div class="col-md-6 banner_title">
                        <a class="" href="#">인포모아</a>
                    </div>
                    <div class="col-md-6 banner_sub">
                        <div><input class="input-sm" name='search' type="text" placeholder="검색할 내용을 입력해주세요"></div>
                        <div id="search"><i class="bi bi-search"></i></div>

                    </div>
                </div>
            </div>
        </header>

        <nav>
            <div class="row">
                <ul class="nav nav-tabs nav_box">
                    <li class="nav-item "><a class="nav-link active" href="#">종합</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">컴퓨터학부_심컴</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">컴퓨터학부_글솝</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">학사</a></li>
                </ul>
            </div>

        </nav>
        <section>
            <div class="tag_boundary">
                <ul class="tag_box">
                    <!-- 태그 들어가는 곳 -->
                    <li class="tag_nav"><i class="bi bi-chevron-down"></i></li>
                    <input class="tag_all" type="text">
                </ul>
            </div>
            <div class="nav_tag_box">
                <div class="nav_title">종합 공지사항</div>

            </div>
            <div class="content_box">
                <ul class="content">

                    <li><a href="# ">[장학] 2021학년도 2학기 1차 국가근로장학금 학생 신청기간 안내</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small> </li>
                    <li><a href="# ">21. 5. 20.(목) 글로벌SW역량강화 정기세미나「KERIS기관 및 사업소개」</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>
                    <li><a href="# ">2021 전공연계의 문제해결역량강화 멘토링(캡스톤디자인)</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>
                    <li><a href="# "> 21. 5. 18.(화) 글로벌SW역량강화 정기세미나「한국지능정보사회진흥원(NIA)채용설명회」</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>
                    <li><a href="# ">[장학] 2021학년도 2학기 1차 국가근로장학금 학생 신청기간 안내</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small> </li>
                    <li><a href="# ">21. 5. 20.(목) 글로벌SW역량강화 정기세미나「KERIS기관 및 사업소개」</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>
                    <li><a href="# ">2021 전공연계의 문제해결역량강화 멘토링(캡스톤디자인)</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>
                    <li><a href="# "> 21. 5. 18.(화) 글로벌SW역량강화 정기세미나「한국지능정보사회진흥원(NIA)채용설명회」</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>
                    <li><a href="# ">[장학] 2021학년도 2학기 1차 국가근로장학금 학생 신청기간 안내</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small> </li>
                    <li><a href="# ">21. 5. 20.(목) 글로벌SW역량강화 정기세미나「KERIS기관 및 사업소개」</a><br><small class="text-muted ">컴퓨터학부 이승희 2021 04:30</small></li>

                </ul>
                <ul class="pagination justify-content-center">
                    <li class="lbtn page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true">&laquo;</a>
                    </li>
                    <li class="page_num page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="rbtn page-item">
                        <a class="page-link">&raquo;</a>
                    </li>
                </ul>
            </div>
        </section>
        <footer></footer>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="../../static/notice/main.js"></script> -->

</html>