<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="post.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <title>KNU_INTEGRATED_NOTICE</title>
</head>

<body>
    <div class="container-fluid wrapper">
        <header class="row">
            <div class="container main_banner">
                <div class="col-sm-6 banner_title">
                    <a class="" href="">인포모아</a>
                </div>
                <div class="col-sm-6 banner_sub">
                    <input class="input-sm" name='search' type="text" placeholder="검색할 내용을 입력해주세요">
                    <button type="button" class="btn btn-default btn-sm" onclick=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    <a href="#"></a>

                </div>
            </div>
        </header>
        <nav class="row">
            <ul class="nav nav-tabs nav_box">
                <li role="presentation" class="active"><a href="#">종합</a></li>
                <li role="presentation"><a href="#">컴퓨터학부</a></li>
                <li role="presentation"><a href="#">인재개발원</a></li>
                <li role="presentation"><a href="#">학사</a></li>
                <div class="filter_box">
                    <label for="filter">필터설정</label>
                    <button id="filter" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span></button>
                </div>
            </ul>

        </nav>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js "></script>
<script src="main.js "></script> -->

</html>