<a href="{% url 'add'%}">add post</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Board_Name</th>
            <th scope="col">Post</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for board in object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="#">{{board.board_name}}</a></td>
            <td>{{board.post}}</td>
            <td><input type="button">Modify</td>
            <td><input type="button">Delete</td>
        </tr>
        {% endfor %}
    </tbody>

</table>