{% extends 'notice/base.html' %} {% load static %} {% block title %} detail {% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'notice/post_list.css' %}">
<section>
    <div class="content_box">
        <h2 id="title">{{ post.post_title|safe }}</h2>
        <br>
        <div id="attach">
        </div>
        <br>
        <div class="row" id="contents">{{ post.post_contents|safe }}</div>
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var attach_info = '{{ post.attachment_info }}'.replace(/&quot;/g, '"');
    var data = JSON.parse(attach_info)

    window.onload = function () {
        var makeTable = $("<table>");
        $("#attach").append($(makeTable));

        $.each(data, function (i, dt) {
            const key = Object.keys(data).find(key => data[key] === dt);
            $(makeTable).append(`<tr><td><a href="${dt}">${key}</a></td></tr>`);
        });
    }
</script>
{% endblock %}
