{% extends 'notice/base.html' %}
{% block title%} 인포모아 {% endblock %}
{% block content %}
{% load static %}
<nav>
    <div class="row">
        <ul class="nav nav-tabs nav_box">
            <li class="nav-item "><a class="nav-link active fw-bold" >컴퓨터학부</a></li>
            <li class="nav-item "><a class="nav-link" >국제교류처</a></li>
            <li class="nav-item "><a class="nav-link">경북대학교 학사공지</a></li>
            <li class="nav-item "><a class="nav-link" >테테스스트트</a></li>
        </ul>
    </div>
</nav>

<section>
    <div class="tag_boundary">
        <ul class="tag_box">
            <!-- 태그 들어가는 곳 -->
            <li class="tag_nav"><i class="bi bi-chevron-down"></i></li>
            <input class="tag_all" type="text">
        </ul>
    </div>
    <div class="nav_tag_box">
        <div class="nav_title">컴퓨터학부 공지사항</div>

    </div>
    <div class="content_box">
        <ul class="content">
            <!-- 처음 로드 시 전체 글 불러오기 -->
        </ul>
        <ul class="pagination justify-content-center">
        </ul>
    </div>
</section>
<footer></footer>
{% endblock %} {% block script %}
<script src="{%static 'notice/main.js'%}"></script>{% endblock %}